@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    margin:0%;
    font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 180%;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
}

h2 {
    font-size: 100%;
    font-family: 'Russo One', sans-serif;
    
}

h3 {
  font-size: 90%;
  margin-top: 1%;
  font-family: 'Russo One', sans-serif;
  
}



h4 {
  font-size: 100%;
  margin-bottom: 0%;
}

p {
  text-decoration: none;
}

.loginInput {
    padding-top: 10px;
}

.loginbar {
  width: 85%;
}

.homePage {
    padding-left: min(30vw, 260px);
    width: 100%;
    height: 100vh;
    
}

.mainPage {
    width: 100%;
    background-image: url('./components/pictures/grafittiback.jpeg');
    background-position: 0px -110px;
    border-bottom: 5px solid #ef8354;
    color: #BFC0C0;
    padding-left: min(30vw, 260px);
      display: flex;
      flex-direction: column;
}

.pageContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    width: 28vw; 
    max-width:240px; 
    height: 100vh;
    background-color: #273043;
    border-right:2px solid #ef8354 ;
    color: #BFC0C0;
    margin-right: 0px;
    position: fixed;
    
  }


  .avatarPic {
      margin-left: min(3vw, 50px);
      width: 70%;
      border-radius: 20%;
      margin-top: 10px;
  }

  .logoutButton {
      text-align: center;
      background: none;
      border-style: none;
      font-size: 80%;
      align-items: center;
      padding-left: min(8vw, 100px);
  }

  .userName {
    color: white;
      text-align: center;
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 100%;
      font-family: 'Russo One', sans-serif;
  }

  .categoriesList {
      margin-top: 30px;
      
  }

  .homeButton {
    color: white;
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
      padding-left: 6px;
      font-size: 110%;
      text-decoration: none;
  }

  .homeButton:hover {
      color: #ef8354;
  }

  .reviewCat {
      padding-left: 12px;
  }

  .reviewImage {
      width: 50%;
  }

  .singleReviewPic {
      width: 60%;
  }
    .cats {
    text-decoration: none;
    text-align: center;
    padding-right: 10px;
    }

  .indiCat {
    font-size: 110%;
    padding-left: 1vw;
    color: white;
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    text-align: center;
  }

  .indiCat:hover {
    color: #ef8354;
  }

  .reviewCardList {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .reviewObject{
      border: 3px solid #ef8354;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      text-decoration: none;
      box-shadow: 10px 10px 8px #888888;
      width: 60vw;
      max-width: 450px;
  }
  
  .homePageContents {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .topUser, .recReview, .mostVotedGame {
    width: max(40vw, 200px);
      margin-right: 20px;
  }

  .topUser, .mostVotedGame, .recReview {
    padding-left: 15px;
    background-color: white;
    border: 3px solid #ef8354;
    margin-bottom: 8px;
    text-decoration: none;
    box-shadow: 10px 10px 8px #888888;
    padding-right: 3px;
  }

  .addComment {
    border-top: 2px solid #ef8354;
    padding-top: 10px;
  }

  .authorComment {
    border-top: 1px dashed #ef8354;
  }

  .errorpage {
    padding-left: 27vw;
  }


  .welcomeMessage-appear {
    opacity: 0.01;
  }
  
  .welcomeMessage-appear.welcomeMessage-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .dashboard-appear {
    opacity: 0.01;
  }
  
  .dashboard-appear.dashboard-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }