@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin:0%;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 220%;
}


.loginInput {
    padding-top: 150px;
}

.homePage {
    padding-left: 220px;
    width: 100%;
}

.mainPage {
    width: 100%;
    background-color: #4f5d75;
    border-bottom: 5px solid #ef8354;
    color: #BFC0C0;
}

.pageContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2D3142;
    color: #BFC0C0;
    margin-right: 0px;
    position: fixed;
    
  }

  .mainPage {
      padding-left: 205px;
      display: flex;
      flex-direction: column;
  }

  .avatarPic {
      margin-left: 30px;
      width: 70%;
      border-radius: 20%;
      margin-top: 10px;
  }

  .logoutButton {
      text-align: center;
      margin-left: 70px;
  }

  .userName {
      text-align: center;
      margin-top: 0%;
      font-size: 0.8cm;
  }

  .categoriesList {
      margin-top: 30px;
      
  }

  .homeButton {
      padding-left: 10px;
      font-size: 1cm;
      text-decoration: none;
      color: antiquewhite;
  }

  .homeButton:hover {
      color: #ef8354
  }

  .reviewCat {
      padding-left: 12px;
  }

  .reviewImage {
      width: 15%;
  }

  .singleReviewPic {
      width: 30%;
  }
    .cats {
    color: #BFC0C0;
    text-decoration: none;
    text-align: center;
    padding-right: 10px;
    }

  .indiCat {
    color: #BFC0C0;
    text-decoration: none;
    text-align: center;
  }

  .indiCat:hover {
    color: #ef8354
  }

  .reviewObject{
      border: 3px solid #ef8354;
      margin-bottom: 8px;
      text-decoration: none;
      box-shadow: 10px 10px 8px #888888
  }
  
  .homePageContents {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .mostVotedGame {
      width: 46.5%;
      margin-right:21px;
  }

  .topUser, .recReview {
      width: 46.5%;
      margin-right: 20px;
  }

  .topUser, .mostVotedGame, .recReview {
    padding-left: 15px;
    background-color: #4f5d753a;
    border: 3px solid #ef8354;
    margin-bottom: 8px;
    text-decoration: none;
    box-shadow: 10px 10px 8px #888888
  }

  .boardGamePic {
      width: 95%;
      height: 97%;
      box-shadow: 10px 10px 8px #888888;
      border: 3px solid #ef8354;
  }

  .welcomeMessage-appear {
    opacity: 0.01;
  }
  
  .welcomeMessage-appear.welcomeMessage-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }

  .dashboard-appear {
    opacity: 0.01;
  }
  
  .dashboard-appear.dashboard-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }